/*@media (min-width: 992px) {
	.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
		max-width: 980px!important;
	}
}*/
* { 
	font-family: Helvetica,Helvetica Neue,Arial,Lucida Grande,sans-serif; 
}

:root {
	--logo: #cda449;
	--logoCompB: #FFD375;
	--logoCompA: #806221;
	--logoShadeD: #D9AD4E;
}

.btn {
	padding: 1rem 2rem;
	margin-top: 1rem;
	box-shadow: none!important;
}

.btn-primary {
	background-color: var(--logoShadeD);
	border-color: var(--logoShadeD);
	transition: all ease-in-out 0.15s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
	background-color: var(--logo);
	border-color: var(--logo);
}

.btn-light {
	background-color: rgba(255, 255, 255, 0.4);
	border-color: rgba(255, 255, 255, 0.1);
	transition: all ease-in-out 0.15s;
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
	background-color: rgba(255, 255, 255, 0.8);
	border-color: rgba(255, 255, 255, 0.5);
}

/*h1 {
	font-family: "Open Sans";
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 26.4px;
}
h3 {
	font-family: "Open Sans";
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 15.4px;
}
p {
	font-family: "Open Sans";
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
blockquote {
	font-family: "Open Sans";
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: "Open Sans";
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}*/