html, body {
	margin: 0;
	padding: 0;
	/*overflow: hidden;*/
}

#topNav {
	z-index: 1;
	background: #000;
}

#menu i,
#cart i {
	color: #cda449;
	font-size: 2.5rem;
	padding: 1.5rem;
}

#cart {
	text-align: right;
}

#backgroundModule {
	position: relative;
	display: block;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	z-index: -1;
	background: #000;
	padding: 0;
}

#backgroundModule video {
	position: absolute;
	width: auto;
	height: auto;
	max-width: 100%;
	min-height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#backgroundModule video.dimFlip {
	min-width: 100%;
	max-width: initial;
	max-height: 100%;
	min-height: initial;
}

.screen {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.6);
}

.module {
	height: 100vh;
	background: transparent;
	position: relative;
	z-index: 0;
}

.vCenter {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}

#home {
	color: #FFF;
}

#about {
	
}

.content {
	background: #FFF;
}